/* AddUser.css */
.modal {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px 20px;
  border-radius: 4px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: auto;
  width: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(252, 252, 252, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-bottom: 20px;
}

.form div {
  margin-bottom: 10px;
  text-align: left;
}

.form label {
  font-weight: bold;
  margin-right: 10px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  padding: 8px;

  font-size: 16px;
}

.form button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.form button[type="submit"] {
  background-color: #007bff;
}

.form button[type="button"] {
  background-color: #ccc;
  margin-left: 10px;
}
